{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-5">Modifier la Figure</h1>
    {{ form_start(form) }}
   {{ form_row(form.figure) }}
    <div class="images">
        {% for image in figure.image %}
        <img src="{{ asset('uploads/images/' ~ image.filename) }}" alt="{{ image.filename }}"></br></br>
            <button type="button" class="delete-image">Supprimer</button>
        {% endfor %}
    </div>


    <ul id="image-fields-list" data-prototype="{{ form_widget(form.image.vars.prototype)|e }}">
    </ul>

    <button type="button" id="add-image">Ajouter une image</button>

    <button type="submit">Sauvegarder les modifications</button>
    {{ form_end(form) }}

     <a href="{{ path('figure_show', {'id': figure.id}) }}">Retour à la figure</a>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.delete-image').forEach(function(button) {
                button.addEventListener('click', function() {
                    const imageContainer = this.closest('.image-container');
                    const imageId = imageContainer.dataset.imageId;

                    // Appel AJAX pour supprimer l'image côté serveur
                    fetch('/delete-image/' + imageId, {
                        method: 'POST',

                        // Ajoutez d'autres en-têtes si nécessaire
                    })
                        .then(function(response) {
                            if (response.ok) {
                                // Supprimer l'élément de l'image du DOM
                                imageContainer.remove();
                            } else {
                                console.error('Erreur lors de la suppression de l\'image');
                            }
                        })
                        .catch(function(error) {
                            console.error('Erreur lors de la suppression de l\'image', error);
                        });
                });
            });
        });

    document.addEventListener('DOMContentLoaded', function() {
            const imageFieldsList = document.getElementById('image-fields-list');
            const addImageButton = document.getElementById('add-image');

            addImageButton.addEventListener('click', function() {
                const prototype = imageFieldsList.dataset.prototype;
                const index = imageFieldsList.children.length;
                const newForm = prototype.replace(/__name__/g, index);

                imageFieldsList.insertAdjacentHTML('beforeend', newForm);
            });
        });
    </script>

{% endblock %}