{% extends 'base.html.twig' %}

{% block title %}Modifier une figure{% endblock %}

{% block body %}
    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label == 'error' ? 'danger' : label }} alert-dismissible fade show"
                     role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}


        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="page-content">
                    <div class="game-details">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="content container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ form_start(form) }}
                                            <p>{{ form_label(form.name) }}</p>
                                            {{ form_widget(form.name, {
                                                'attr': {'class': 'form-control'},
                                            }) }}
                                            <p>{{ form_label(form.description) }}</p>
                                            {{ form_widget(form.description, {
                                                'attr': {'class': 'form-control'},
                                                'label': 'Description'
                                            }) }}
                                            <p>{{ form_label(form.categories) }}</p>
                                            {{ form_widget(form.categories, {
                                                'attr': {'class': 'form-control'},
                                                'label': 'Catégories'
                                            }) }}

                                            <div id="image-fields-list"
                                                 data-prototype="{{ form_widget(form.image.vars.prototype)|e('html_attr') }}">
                                                {% for imageField in form.image %}
                                                    <div class="container mt-3">
                                                        <button class="delete-image" data-figure-id="{{ figure.id }}"
                                                                data-image-id="{{ imageField.vars.data.id }}">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                        {% if imageField.vars.data and imageField.vars.data.filename %}
                                                            <img src="{{ asset('uploads/images/' ~ imageField.vars.data.filename) }}"
                                                                 alt="{{ imageField.vars.data.filename }}">
                                                            <p style="display: none">Nom du fichier
                                                                : {{ imageField.vars.data.filename }}</p>
                                                        {% endif %}
                                                        <div class="ms-0 mb-3 col-4 text-white">
                                                            {{ form_label(imageField.filename, 'Modifier le  fichier', {'label_attr': {'class': 'form-label text-white mt-3', 'for': 'formFile'}}) }}
                                                            {{ form_widget(imageField.filename, {'id': 'formFile', 'attr': {'class': 'form-control'}}) }}
                                                            {{ form_errors(imageField.filename) }}
                                                        </div>

                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div id="video-fields-list"
                                                 data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                                                {% for videoField in form.videos %}
                                                    <div class="container">
                                                        <div class="mb-3 ms-3">
                                                            {{ form_label(videoField.videoLink, 'Lien de la vidéo', {'label_attr': {'class': 'form-label'}}) }}
                                                            {{ form_widget(videoField.videoLink, {'attr': {'class': 'form-control'}}) }}
                                                            {{ form_errors(videoField.videoLink) }}
                                                        </div>
                                                        <button type="button" class="ms-3 btn btn-light delete-video "
                                                                data-video-id="{{ videoField.vars.data.id }}">Supprimer
                                                        </button>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="ms-3 mt-5">
                                                <button class="btn btn-light mt-1 " type="button" id="add-video">Ajouter
                                                    une vidéo
                                                </button>
                                                <button class="btn btn-light mt-1" type="button" id="add-image">Ajouter
                                                    une image
                                                </button>
                                            </div>
                                        </div>
                                        <button type="submit" class="mt-3  btn-custom">Enregistrer</button>
                                        {{ form_end(form) }}
                                        <a class="returnbnt mt-2"
                                           href="{{ path('figure_show', {'slug': figure.slug}) }}">Retour à la
                                            figure</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}