{% extends 'base.html.twig' %}

{% block title %}Modifier une figure{% endblock %}

{% block body %}
    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label == 'error' ? 'danger' : label }} alert-dismissible fade show"
                     role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}


        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="page-content">
                    <div class="game-details">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ form_start(form) }}
                                            <p>{{ form_label(form.name)}}</p>
                                            {{ form_widget(form.name, {
                                                'attr': {'class': 'form-control'},
                                            }) }}
                                            <p>{{ form_label(form.description) }}</p>
                                            {{ form_widget(form.description, {
                                                'attr': {'class': 'form-control'},
                                                'label': 'Description'
                                            }) }}
                                            <p>{{ form_label(form.categories) }}</p>
                                            {{ form_widget(form.categories, {
                                                'attr': {'class': 'form-control'},
                                                'label': 'Catégories'
                                            }) }}

                                            <ul id="image-fields-list"
                                                data-prototype="{{ form_widget(form.image.vars.prototype)|e('html_attr') }}">
                                                {% for imageField in form.image %}
                                                    <li>
                                                        {% if imageField.vars.data and imageField.vars.data.filename %}
                                                            <img src="{{ asset('uploads/images/' ~ imageField.vars.data.filename) }}"
                                                                 alt="{{ imageField.vars.data.filename }}">
                                                            <p>Nom du fichier : {{ imageField.vars.data.filename }}</p>
                                                        {% endif %}
                                                        {{ form_row(imageField.filename) }}
                                                        <button class="delete-image" data-figure-id="{{ figure.id }}"
                                                                data-image-id="{{ imageField.vars.data.id }}">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <ul id="video-fields-list"
                                                data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                                                {% for videoField in form.videos %}
                                                    <li>
                                                        {{ form_row(videoField.videoLink) }}
                                                        <button type="button" class="delete-video mt-2"
                                                                data-video-id="{{ videoField.vars.data.id }}">Supprimer
                                                        </button>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <button type="button" id="add-video">Ajouter une vidéo</button>
                                            <button type="button" id="add-image">Ajouter une image</button>
                                        </div>
                                        <button type="submit" class="mt-3  btn-custom">Enregistrer</button>
                                        {{ form_end(form) }}
                                        <a class="mt-2" href="{{ path('figure_show', {'id': figure.id}) }}">Retour à la figure</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Add + delete image
        document.addEventListener('DOMContentLoaded', function () {
            const imageFieldsList = document.getElementById('image-fields-list');
            const addImageButton = document.getElementById('add-image');
            const deleteImageButtons = document.querySelectorAll('.delete-image');

            addImageButton.addEventListener('click', function () {
                const prototype = imageFieldsList.dataset.prototype;
                const index = imageFieldsList.children.length;
                const newForm = prototype.replace(/__name__/g, index);

                imageFieldsList.insertAdjacentHTML('beforeend', newForm);
            });

            deleteImageButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const imageField = button.closest('li');
                    imageField.remove();
                });
            });
        });
        // Add + delete video
        document.addEventListener('DOMContentLoaded', function () {

            const videoFieldsList = document.getElementById('video-fields-list');
            const addVideoButton = document.getElementById('add-video');
            const newVideoIndex = videoFieldsList.children.length;

            addVideoButton.addEventListener('click', function () {
                const prototype = videoFieldsList.dataset.prototype;
                const newForm = prototype.replace(/__name__/g, newVideoIndex);
                videoFieldsList.insertAdjacentHTML('beforeend', newForm);
                videoFieldsList.children[newVideoIndex].querySelector('.delete-video').addEventListener('click', function () {
                    this.closest('li').remove();
                });
            });

            document.querySelectorAll('.delete-video').forEach(button => {
                button.addEventListener('click', function () {
                    this.closest('li').remove();
                });
            });
        });
    </script>

{% endblock %}