{% extends 'base.html.twig' %}

{% block title %}{{ figure.name }}{% endblock %}

{% block body %}

    {% if figure.image|length > 0 %}
        <div class="image-container-home">
            {% set image = figure.image|first %}
            <img src="{{ asset('uploads/images/' ~ image.filename) }}" alt="{{ image.filename }}"
                 class="full-width-image">
            <div class="icon-overlay">
                {% if is_granted('FIGURE_EDIT', figure) %}
                    <a href="{{ path('figure_edit', {'id': figure.id}) }}"><i class="fas fa-edit"></i></a>
                {% endif %}
                {% if is_granted('FIGURE_DELETE', figure) %}
                    <a href="{{ path('figure_delete', {'id': figure.id}) }}"
                       onclick="return confirm('Voulez-vous vraiment supprimer cette figure ?')"><i
                                class="fas fa-trash-alt"></i></a>
                {% endif %}
            </div>
            <div class="title-overlay">{{ figure.name }}</div>
        </div>
    {% else %}

        <div class="image-container">
            <img src="{{ asset('images/placeholder.png') }}" alt="Image par défaut" class="full-width-image">
            <div class="icon-overlay">
                {% if is_granted('FIGURE_EDIT', figure) %}
                    <a href="{{ path('figure_edit', {'id': figure.id}) }}"><i class="fas fa-edit"></i></a>
                {% endif %}
                {% if is_granted('FIGURE_DELETE', figure) %}
                    <a href="{{ path('figure_delete', {'id': figure.id}) }}"
                       onclick="return confirm('Voulez-vous vraiment supprimer cette figure ?')"><i
                                class="fas fa-trash-alt"></i></a>
                {% endif %}
            </div>
            <div class="title-overlay">{{ figure.name }}</div>
        </div>
    {% endif %}

    <div class="owl-carousel mt-5 d-none" id="carouselContent">

    {% for image in figure.image %}
            {% if loop.index > 1 %}
                <div class="item">
                    <a href="{{ asset('uploads/images/' ~ image.filename) }}" data-fancybox="gallery">
                        <img src="{{ asset('uploads/images/' ~ image.filename) }}" alt="{{ image.filename }}"
                             class="img-fluid">
                    </a>
                </div>
            {% endif %}
        {% endfor %}

        {% for video in figure.videos %}
            <div class="item">
                <a href="{{ video.videoLink }}" data-fancybox="gallery">
                    <iframe src="{{ video.videoLink }}" frameborder="0" width="560" height="300"
                            allowfullscreen></iframe>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="mt-5 d-flex justify-content-center">
        <button id="toggleCarousel" class="btn btn-primary mb-3">Afficher/Masquer le Carrousel</button>
    </div>

    <div class="container mt-3 ">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label == 'error' ? 'danger' : label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="content">
                            <div class="row">
                                <div class="col-lg-12 mt-3 ">
                                    <p class="text-white">{{ figure.description|nl2br }}</p>
                                </div>

                                <div class="mt-3 container">
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <div class="d-flex align-items-center mb-2">
                                                <i class="fa-solid fa-check"
                                                   style="color: #ffffff; margin-right: 10px"></i>
                                                <p class="mb-0">{{ figure.categories }}</p>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="d-flex align-items-center mb-2">
                                                <i class="fa-regular fa-clock"
                                                   style="color: #ffffff; margin-right: 10px"></i>
                                                <p class="mb-0">{{ figure.createdAt|date('Y-m-d H:i:s') }}</p>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="d-flex align-items-center mb-2">
                                                {% if figure.updatedAt and figure.updatedAt != figure.createdAt %}
                                                    <i class="fa-solid fa-calendar-check"
                                                       style="color: #ffffff; margin-right: 10px"></i>
                                                    <p>Modifié le : {{ figure.updatedAt|date('Y-m-d H:i:s') }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="other-games mb-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Ajouter un commentaire</h2>
                            {% if app.user %}
                                {{ form_start(commentaireForm) }}
                                {{ form_label(commentaireForm) }}
                                {{ form_widget(commentaireForm.content) }}
                                <div style="display: none">{{ form_row(commentaireForm.figure) }}</div>
                                <button class="mt-3 mb-5 custom-button" type="submit">Ajouter</button>
                                {{ form_end(commentaireForm) }}
                            {% else %}
                                <p class="mb-3">Vous devez être connecté pour ajouter un commentaire. <a
                                            href="{{ path('app_login') }}">Se connecter</a></p>
                            {% endif %}
                        </div>

                        <div class="heading-section">
                            <h4><em></em>Commentaire</h4>
                        </div>

                        {% for commentaire in figure.commentaire %}
                            <div class="col-lg-4">
                                <div class="item">

                                    <img src="" alt="" class="fa fa-startemplatemo-item">
                                    <h4>Posté le {{ commentaire.createdAt|date('d/m/Y à H:i') }}</h4>
                                    <p> Par {{ commentaire.author.username }}</p>
                                    <p class="mt-3 mb-2">{{ commentaire.content }}</p>
                                    {% if is_granted('COMMENT_EDIT', commentaire) %}
                                        <div class="main-border-button">
                                            <a href="{{ path('figure_edit_comment', {'id': commentaire.id}) }}">Modifier</a>
                                            <a href="{{ path('figure_edit_comment', {'id': commentaire.id}) }}">Supprimer</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}