{% extends 'base.html.twig' %}

{% block title %}{{ figure.name }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">
                    <div class="game-details">
                        <div class="row">
                            <div class="mt-0 col-lg-12">
                                <h2>{{ figure.name }}</h2>
                            </div>
                            <div class="col-lg-12">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>{{ figure.chapo }}</p>
                                            <p>{{ figure.description }}</p>
                                            <p>{{ figure.categories }}</p>
                                        </div>
                                        <div class="col-lg-6">
                                            {% for video in figure.videos %}
                                                <iframe width="500" height="315" src="https://www.youtube.com/embed/{{ video.videoLink }}" frameborder="0" allowfullscreen></iframe>
                                            {% endfor %}
                                        </div>
                                        <div class="col-lg-12">
                                            {% for image in figure.image %}
                                                <img src="{{ asset('uploads/images/' ~ image.filename) }}" alt="{{ image.filename }}">
                                            {% else %}
                                                <img src="{{ asset('images/placeholder.png') }}" alt="Image par défaut">
                                            {% endfor %}
                                        </div>
                                        <div class="mt-5 col-lg-6">
                                            {% if app.user == figure.user %}
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <form action="{{ path('figure_edit', {'id': figure.id}) }}" method="post">
                                                            <input class="custom-button" type="submit" value="Modifier">
                                                        </form>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <form action="{{ path('figure_delete', {'id': figure.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer cette figure ?')">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
                                                            <input class="custom-button" type="submit" value="Supprimer">
                                                        </form>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-lg-2 main-border-button">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="other-games">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2>Ajouter un commentaire</h2>
                                {% if app.user %}
                                    {{ form_start(commentaireForm) }}

                                    {{ form_row(commentaireForm.content) }}
                                    <div style="display: none">{{ form_row(commentaireForm.figure) }}</div>
                                    <button class="mt-3 mb-5 custom-button" type="submit">Ajouter</button>
                                    {{ form_end(commentaireForm) }}
                                {% else %}
                                    <p class="mb-3">Vous devez être connecté pour ajouter un commentaire. <a href="{{ path('app_login') }}">Se connecter</a></p>
                                {% endif %}
                            </div>
                            <div class="heading-section">
                                <h4><em></em>Commentaire</h4>
                            </div>
                            {% for commentaire in figure.commentaire %}
                            <div class="col-lg-4">
                                <div class="item">

                                    <img src="assets/images/game-01.jpg" alt="" class="fa fa-startemplatemo-item">
                                    <h4>Posté le {{ commentaire.createdAt|date('d/m/Y à H:i') }}</h4>
                                    <p> Par {{ commentaire.author.username }}</p>
                                    <p class="mt-3 mb-2">{{ commentaire.content }}</p>
                                    {% if app.user and app.user.id == commentaire.author.id %}
                                    <div class="main-border-button">
                                        <a href="{{ path('figure_edit_comment', {'id': commentaire.id}) }}">Modifier</a>
                                        <a href="{{ path('figure_edit_comment', {'id': commentaire.id}) }}">Supprimer</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}