{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="container mb-5">
        <div class="row">
            <div class="mb-4 mt-5 mx-auto col-10 col-md-8 col-lg-6">
                <div class="imagecustom">
                    <img src="./images/logo_login.png" alt="Description of the image">
                </div>
                <form method="post">
                    {% for flash_error in app.flashes('reset_password_error') %}
                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                    {% endfor %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a
                                    href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="text-white mt-4 text-center h3 mb-3 font-weight-normal">Réinitialisation du mot de passe</h1>

                    {{ form_start(requestForm) }}
                    <span style="display: none" {{ form_label(requestForm.email) }}></span>
                    {{ form_widget(requestForm.email) }}
                    <p class="text-white">{{ form_errors(requestForm.email) }}</p>
                    <div class="text-center">
                        <button class=" mt-5 btn btn-lg btn-custom" type="submit">
                            Envoyer un e-mail de réinitialisation du mot de passe
                        </button>
                    </div>

                    {{ form_end(requestForm) }}
                </form>

            </div>
        </div>
    </div>
{% endblock %}
