{% extends 'base.html.twig' %}

{% block title %}Ajouter une figure{% endblock %}

{% block body %}

{#    <div class="most-popular">#}
{#        <div class="row">#}
{#            <div class="col-lg-12">#}
{#                <div class="heading-section">#}
{#                    <h4><em>Découvrez</em> les figures</h4>#}
{#                </div>#}

{#                <div class="row">#}
{#                    {{ form_start(form) }}#}

{#                    {{ form_row(form.name) }}#}
{#                    {{ form_row(form.description) }}#}
{#                    {{ form_row(form.categories) }}#}

{#                    <ul class="image"#}
{#                        data-index="{{ form.image|length > 0 ? form.image|last.vars.name + 1 : 0 }}"#}
{#                        data-prototype="{{ form_widget(form.image.vars.prototype)|e('html_attr') }}"#}
{#                    ></ul>#}

{#                    <button type="button" class="add_item_link" data-collection-holder-class="image">Ajouter une image#}
{#                    </button>#}
{#                    <ul class="tags"#}
{#                        data-index="{{ form.videos|length > 0 ? form.video|last.vars.name + 1 : 0 }}"#}
{#                        data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"#}
{#                    ></ul>#}

{#                    <button type="button" class="add_item_link" data-collection-holder-class="tags">Ajouter une vidéo#}
{#                    </button>#}


{#                    <input type="submit" value="Soumettre"/>#}
{#                    {{ form_end(form) }}#}


{#                    {% for label, messages in app.flashes %}#}
{#                        {% for message in messages %}#}
{#                            <div class="flash-{{ label }}">#}
{#                                {{ message }}#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    {% endfor %}#}

{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}

{#    <div class="container">#}
{#        <div class="row">#}
{#            <img src="{{ asset('images/logo_add_figure.png') }}" class="img-fluid">#}
{#        </div>#}
{#    </div>#}

    <div class="container customcontainerfigure">
        <div class="row">
            <div class="form-signin">

                {{ form_start(form, {'attr': {'class': 'g-3'}}) }}

                <h1 class="h3 mb-3 fw-normal text-center text-white">Veuillez remplir le formulaire</h1>

                <p>{{ form_label(form.name) }}</p>
                {{ form_widget(form.name, {'attr': {'class': 'form-control mb-2', 'placeholder': 'Nom'}}) }}
                <div class="form-error">{{ form_errors(form.name, {'attr': {'class': 'text-white'}}) }}</div>
                <p>{{ form_label(form.description) }}</p>
                {{ form_widget(form.description, {'attr': {'class': 'form-control mb-2', 'placeholder': 'Description'}}) }}
                <p>{{ form_label(form.categories) }}</p>
                {{ form_widget(form.categories, {'attr': {'class': 'form-control mb-2', 'placeholder': 'Catégories'}}) }}

                <div class="text-white image mb-2"
                     data-index="{{ form.image|length > 0 ? form.image|last.vars.name + 1 : 0 }}"
                     data-prototype="{{ form_widget(form.image.vars.prototype)|e('html_attr') }}">
                </div>

                <div class="tags text-white" data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
                     data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"
                     class="mb-2 ">
                </div>

                <button type="button" class="btn btn-light mb-2 add_item_link mt-3 mb-3" data-collection-holder-class="tags">Ajouter une vidéo
                </button>
                <button type="button" class="btn btn-light mb-2 add_item_link mt-3 mb-3" data-collection-holder-class="image">Ajouter une image</button>


                <input class="w-100 btn-custom" type="submit" value="Soumettre"/>

                {{ form_end(form) }}
                <!-- Ici se termine le formulaire Symfony -->
            </div>
        </div>
    </div>


{% endblock %}
