{% extends 'base.html.twig' %}

{% block title %}Ajouter une figure{% endblock %}

{% block body %}

    {{ form_start(form) }}

    <!-- Autres champs de la figure... -->

    <h3>Vidéos</h3>
    <ul class="videos">
        {% if form.videos is defined and form.videos|length > 0 %}
            <li>{{ form_row(form.videos[0].videoLink) }}</li>
        {% endif %}
    </ul>
    <button type="button" class="btn btn-primary add_video_link">Ajouter une vidéo</button>

    <br><br>
    <button type="submit" class="btn btn-success">Enregistrer</button>
    <h3>Images</h3>
    <ul class="image" data-prototype="{{ form_widget(form.image.vars.prototype)|e('html_attr') }}">
        {% for imageForm in form.image %}
            <li>
                {{ form_row(imageForm.filename) }}
            </li>
        {% endfor %}
    </ul>
    <button type="button" class="add_image_link">Ajouter une image</button>
    {{ form_end(form) }}




{% endblock %}
