{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}

{#  <!-- ***** Preloader Start ***** -->#}
{#  <div id="js-preloader" class="js-preloader">#}
{#    <div class="preloader-inner">#}
{#      <span class="dot"></span>#}
{#      <div class="dots">#}
{#        <span></span>#}
{#        <span></span>#}
{#        <span></span>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#  <!-- ***** Preloader End ***** -->#}

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Banner Start ***** -->
          <div class="main-banner">
            <div class="row">
              <div class="col-lg-7">
                <div class="header-text">
                  <h6>Bienvenue sur</h6>
                  <h4><em>SnowTricks</em> un site communautaire</h4>
                  <div class="main-button">
                    <a href="browse.html">Voir les figure</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->

          <!-- ***** Most Popular Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Découvrez</em> les figures</h4>
                </div>

                <div class="row">
                  {% for figure in figures %}
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <div class="figure-images">
                        {% set first_image = figure.image|first %}
                        {% if first_image %}
                        <img src="{{ asset('uploads/images/' ~ first_image.filename) }}" alt="{{ first_image.filename }}">
                        {% else %}
                          <img src="{{ asset('images/placeholder.png') }}" alt="Image par défaut">
                        {% endif %}
                      </div>
                      <a href="{{ path('figure_show', {'id': figure.id}) }}"><h4>{{ figure.name }}<br><span></span></h4></a>
                      <ul>
                        {% if app.user == figure.user %}
                        <form action="{{ path('figure_delete', {'id': figure.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer cette figure ?')">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
                            <button type="submit" class="">
                              <i class="fas fa-trash-alt"></i>
                            </button>
                          </form></li>
                          <a href="{{ path('figure_delete', {'id': figure.id}) }}" method="post"
                             onclick="return confirm('Voulez-vous vraiment supprimer cette figure ?')">
                            <i class="fas fa-trash-alt"></i></a>
                          <a href="{{ path('figure_edit', {'id': figure.id}) }}"><i class="fas fa-edit"></i></a>
                        {% endif %}
                      </ul></br>
                      <a href="{{ path('figure_show', {'id': figure.id}) }}">Voir</a>
                    </div>
                  </div>{% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>

</html>

{% endblock %}
